html,
body {
  font-family: 'futura-100', sans-serif;
  font-weight: 500;
  font-style: normal;
  margin: 0;
  width: 100%;
  height: 100%;
}
:root {
  --black: #212121;
  --white: #ffffff;
}



ul {
  display: flex;
  flex-direction: row;
}
li {
  list-style-type: none;
  margin: 0.3em;
}
a {
  text-decoration: none;
  color: black;
}
