@import url('https://use.typekit.net/coi1biv.css');

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}
:root {
  --black: #212121;
  --white: #ffffff;
}
img {
  height: auto;
  max-width: 100%;
}
footer{
  background-color: var(--black);
  color: var(--white);
  padding: 2em;
}
.container {
  padding-inline: 1em;
}
.head__title {
  font-size: 4.37em;
  font-family: 'inge-variable', sans-serif;
  font-variation-settings: 'slnt' 0;
  letter-spacing: 0.01em;
  padding-inline: 0.5em;
}
.subjectText {
  font-family: 'orbitron', sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.6rem;
  padding-top: 1em;
}
.regularText{
  font-family: 'orbitron', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.3em;
}
li {
  list-style-type: none;
  margin: 0.3em;
}
a {
  text-decoration: none;
  color: black;
}
