---
import Image from 'astro/components/Image.astro';
import placeholder from '../img/placeholder.jpeg';
import Navigation from '../components/Navigation.astro';
---

<Navigation />
<header class="head">
  <p class="head__title">Cool projects & nice stuff I learned</p>
</header>
<div>
  <Image src={placeholder} alt="imgholder" />
</div>
