---
import Image from 'astro/components/Image.astro';
import placeholder from '../img/placeholder.jpeg';
import Header from '../components/Header.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <p class="head__title">Cool projects & nice stuff I learned</p>
  <div>
    <Image src={placeholder} alt="imgholder" />
  </div>
</BaseLayout>
