---
import Image from 'astro/components/Image.astro';
import placeholder from '../img/placeholder.jpeg';
import Header from '../components/Header.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <header class="head">
    <p class="head__title">Behind the scenes of my current work</p>
  </header>
  <div>
    <Image src={placeholder} alt="imgholder" />
  </div>
</BaseLayout>
