---
import Image from 'astro/components/Image.astro';
import mozam from '../img/mozam-logo.webp';
import '../styles/global.css';
import Menu from './Menu.astro';
import Navigation from './Navigation.astro';
---

<nav class="navbar">
  <div class="navbar__img">
    <a href="
    /"><Image src={mozam} alt="mozam" height={60} /></a>
  </div>
  <div class="navbar__items">
    <Menu />
    <Navigation />
  </div>
</nav>
