---
import Image from 'astro/components/Image.astro';

import mozamPolaroid from '../collabs/img/mozam-polaroid.webp';
---

<div class="hero__img">
  <Image src={mozamPolaroid} alt="mozam" srcset="" class="mozam" />
</div>
<style>
  .hero__img {
    display: flex;
    justify-content: center;
  }
  @media (min-width: 768px) {
    .hero__img {
      display: flex !important;
      justify-content: center !important;
      max-width: 60%;
    }
  }
</style>
