---
import '../styles/global.css';
---
    <ul class="navbar__links">
      <li>
        <a href="/" class="navbar__reflink">Home</a>
      </li>
      <li>
        <a href="/about/" class="navbar__reflink">About</a>
      </li>
      <li>
        <a href="/projectlog/" class="navbar__reflink">Project Log</a>
      </li>
    </ul>
