---
import Image from 'astro/components/Image.astro';
import mozam from '../img/mozam-logo.webp';
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://use.typekit.net/coi1biv.css" />
    <meta name="generator" content={Astro.generator} />
    <title>My Portfolio</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="navbar__img">
          <Image src={mozam} alt="mozam" height={60} />
        </div>
        <div class="navbar__items">
          <input type="checkbox" id="menu-toggle" />
          <label for="menu-toggle" class="menu-icon">
            <span></span>
            <span></span>
            <span></span>
          </label>
          <ul class="navbar__links">
            <li>
              <a href="/" class="navbar__reflink">Home</a>
            </li>
            <li>
              <a href="/about/" class="navbar__reflink">About</a>
            </li>
            <li>
              <a href="/projectlog/" class="navbar__reflink">Project Log</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
  }
  li {
    list-style-type: none;
    margin: 0.3em;
  }
  nav {
    background-color: var(--black);
    display: flex;
    padding: 0.5em;
    padding-inline: 1em;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
  }
  .navbar__items {
    display: flex;
  }
  .navbar__reflink {
    margin: 0.2em;
    font-family: 'inge-variable', sans-serif;
    font-variation-settings: 'slnt' 0;
    font-size: 2.2em;
    letter-spacing: 0.027em;
    color: white;
    margin-right: 0.9em;
  }
  #menu-toggle {
    display: none;
  }
  .menu-icon {
    display: none;
    flex-direction: column;
    gap: 5px;
  }
  .menu-icon span {
    width: 1.875em;
    height: 0.1875em;
    background: #fff;
    transition: all 0.3s;
  }

  @media (max-width: 768px) {
    .menu-icon {
      display: flex;
    }

    .navbar__links {
      position: absolute;
      top: 4em;
      left: 0;
      right: 0;
      background: #222;
      flex-direction: column;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease;
    }

    #menu-toggle:checked ~ .navbar__links {
      max-height: 12.5em;
    }
    #menu-toggle:checked + .menu-icon span:nth-child(1) {
      transform: rotate(45deg) translateY(10px);
    }
    #menu-toggle:checked + .menu-icon span:nth-child(2) {
      opacity: 0;
    }
    #menu-toggle:checked + .menu-icon span:nth-child(3) {
      transform: rotate(-45deg) translateY(-10px);
    }
  }
</style>